<div class="backgroundBox"></div>
<div id="dropArea" class="mapBox">
	<img id="map" class="absolutePos" src="{{mapUrl}}">
	
	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox" ng-repeat="(indexX,column) in columns" title="{{row}}{{column}}" ng-style="{left: determineGlowX(indexX)}"></div>
	</div>
	
	<!--Draw characters-->
	<div ng-repeat="(cIndex,char) in charaData">
		<div id="{{cIndex}}" ng-if="validPosition(char.position, char.stance)" ng-click="displayData(cIndex)" class="absolutePos charDiv hoverImage" title="{{char.position}}" ng-style="{top: determineCharY(char.position), left: determineCharX(char.position)}">
			<!--Paired unit sprite-->
			<div ng-if="isPairedFront(char.pairUpPartner, char.stance)" class="charDiv mapCharOffsetLeft">
				<img ng-src="{{getPairUnitIcon(char.pairUpPartner)}}" class="mapCharCentered dimImage">
			</div>
			<!--Unit sprite-->
			<div class="charDiv" ng-class="isPairedFront(char.pairUpPartner, char.stance) ? 'mapCharOffsetRight' : 'mapCharOffsetNone'">
				<img ng-src="{{char.spriteUrl}}" class="mapCharCentered">
				<div ng-if="!isNotEnemy(cIndex)" class="enemyNum"><img src="{{getEnemyNum(char.name)}}"/></div>
			</div>
			<div class="healthBarBack"></div>
			<div class="healthBarFront" ng-class="getHealthBarColor(cIndex, char.currHp, char.maxHp)" ng-style="{width: calcHpBarPercent(char.currHp, char.maxHp)}"></div>
			<div class="healthBarBorder"></div>
			<!--Unit icons-->
			<div ng-if="isPairedFront(char.pairUpPartner, char.stance)" class="pairUpIcon"><img src="IMG/shield_pairup.png"></div>
			<div ng-if="isBoss(char.unitType)" class="pairUpIcon"><img src="IMG/shield_boss.png"></div>
			<div ng-if="canTalk(char.unitType)" class="enemyTalkBalloon"><img src="IMG/talk.gif"></div>
		</div>
	</div>
	
	<!--Character Info Box-->
	<div id="{{cIndex}}_box" ng-repeat="(cIndex,char) in charaData" class="enemyInfo" draggable="true" ng-show="checkCharToggle(cIndex)">
		<!--Buttons-->
		<div class="absolutePos olive enemyBar">
			<!--Close button-->
			<div class="enemyBarButton hoverImage" title="Close" ng-click="removeData(cIndex)" style="right:2px">
				<img src="IMG/close.png">
			</div>
			<!--Pair-Up button-->
			<div class="enemyBarButton hoverImage" ng-if="isPaired(char.pairUpPartner, char.stance)" ng-click="findPairUpChar(cIndex)" title="Switch to Paired Unit" style="right:20px">
				<img src="IMG/switchpairup.png">
			</div>
		</div>
		<!--Name-->
		<div class="infoElement whiteText enemyNamePos" ng-class="isChar(cIndex) ? 'navy' : 'bloodRed'" ng-style="{'font-size' : getCharNameFontSize(char.name)}">
			<div style="vertical-align: middle;">{{char.name}}</div>
		</div>
		<!--Class-->
		<div class="infoElement paleTan redText enemyClassPos">
			<span style="float: left;">{{char.class}}</span>
			<span style="float: right;">Lvl. {{char.level}}</span>
		</div>
		<!--Current EXP-->
		<div class="infoElement paleTan redText movExpPos" style="top:74px;">
			<span class="indentedExpMovLabel">EXP</span>
			<span class="indentedExpMovText">{{char.exp}}</span>
		</div>
		<!--Movement-->
		<div class="infoElement paleTan redText movExpPos" style="top:97px;">
			<span class="indentedExpMovLabel"><img src="IMG/movement.png" style="display:inline-block"></span>
			<span class="indentedExpMovText">{{char.mov}}</span>
		</div>
		<!--HP-->
		<div class="infoElement darkTan tanText enemyHpPos">
			<span class="HPText">HP</span>
			<span class="currHPText">{{char.currHp}}</span>
			<span class="totalHPText"> / {{char.maxHp}}</span>
		</div>
		<!--Attack-->
		<div class="infoElement darkTan tanText atkHitPos" style="top:123px">
			<span class="indentedStatLabel">Atk</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.atk)">{{char.atk}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.atk)">-</span>
		</div>
		<!--Critical-->
		<div class="infoElement darkTan tanText critAvoPos" style="top:123px">
			<span class="indentedStatLabel">Crit</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.crit)">{{char.crit}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.crit)">-</span>
		</div>
		<!--Hit-->
		<div class="infoElement darkTan tanText atkHitPos" style="top:148px">
			<span class="indentedStatLabel">Hit</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.hit)">{{char.hit}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.hit)">-</span>
		</div>
		<!--Avoid-->
		<div class="infoElement darkTan tanText critAvoPos" style="top:148px">
			<span class="indentedStatLabel">Avo</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.avo)">{{char.avo}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.avo)">-</span>
		</div>
		<!--Character Stats (Str/Mag/Skl/Etc)-->
		<div ng-repeat="stat in statsList" class="infoElement darkTan tanText statsPos hoverBrown" ng-mouseover="statHoverIn(cIndex, stat[0])" ng-mouseleave="statHoverOut(cIndex, stat[0])" ng-style="{top: fetchEStatVerticalPos($index), left: fetchEStatHorzPos($index)}">
			<span class="indentedStatLabel">{{stat[0]}}</span>
			<span class="indentedStat" ng-style="{color: determineStatColor(cIndex, $index, stat[0], 0)}">{{char["p"+stat[0]+"Buff"]}}</span>
		</div>
		<!--Character Weaknesses-->
		<div class="infoElement paleTan weaknessesPos" title="Unit Weaknesses">
			<img ng-if="weaponEffective(char.weaknesses,'armor')" src="IMG/eff_armor.png" title="Armor">
			<img ng-if="weaponEffective(char.weaknesses,'flying')" src="IMG/eff_flying.png" title="Flying">
			<img ng-if="weaponEffective(char.weaknesses,'beast')" src="IMG/eff_beast.png" title="Beast">
			<img ng-if="weaponEffective(char.weaknesses,'dragon')" src="IMG/eff_dragon.png" title="Dragon">
			<img ng-if="weaponEffective(char.weaknesses,'golem')" src="IMG/eff_monster.png" title="Golem">
		</div>
		<!--Shields-->
		<div class="infoElement shieldsPos" title="Dual Guard Shields">
			<div ng-repeat="val in [1,2,3,4,5,6,7,8,9,10]" style="display: block; float: left">
				<img ng-src="{{checkShields(val, char.shields)}}">
			</div>
		</div>
		<!--Inventory-->
		<div ng-repeat="weapon in char.inventory" ng-mouseenter="weaponHoverIn(cIndex, $index)" ng-mouseleave="weaponHoverOut(cIndex, $index)" class="infoElement redText hoverTan itemsPos paleTan" ng-style="{top: fetchEWeaponVerticalPos($index)}">
			<span class="indentedWeaponIcon" ng-if="validWeapon(weapon.name)"><img ng-src="{{weapon.spriteUrl}}" style="height:16px; width:16px;"/></span>
			<span class="indentedWeaponName" ng-if="validWeapon(weapon.name)" ng-style="{'font-size' : getWeaponNameFontSize(weapon.name)}">{{weapon.name}}</span>
			<div class="weaponEffectIcons">
				<img ng-if="weaponEffective(weapon.effective,'armor')" src="IMG/eff_armor.png">
				<img ng-if="weaponEffective(weapon.effective,'flying')" src="IMG/eff_flying.png">
				<img ng-if="weaponEffective(weapon.effective,'beast')" src="IMG/eff_beast.png">
				<img ng-if="weaponEffective(weapon.effective,'dragon')" src="IMG/eff_dragon.png">
				<img ng-if="weaponEffective(weapon.effective,'golem')" src="IMG/eff_monster.png">
			</div>
		</div>
		<!--Weapon ranks-->
		<div ng-repeat="w in char.weaponRanks" class="infoElement weaponRankPos" ng-style="{left: fetchEWpnRankHorzPos($index)}">
			<span ng-if="existsWeapon(w.class)" title="{{w.class}} Rank" style="position:relative">
				<img ng-src="{{weaponIcon(w.class)}}" style="display:inline-block">
				<div ng-if="isNotEnemy(cIndex)" class="weaponRankBackground"></div>
				<div ng-if="isNotEnemy(cIndex)" class="weaponRankBar" ng-style="{width:calcWeaponExp(w.exp)+'px'}"></div>
				<div class="weaponRankLtrPos redText">{{w.rank}}</div>
			</span>
		</div>
		<!--Skills-->
		<div ng-repeat="skill in char.skills" class="infoElement hoverImage skillGemPos" ng-mouseover="skillHoverIn(cIndex, $index)" ng-mouseleave="skillHoverOut(cIndex, $index)" ng-style="{left: fetchESklHorzPos($index)}">
			<img ng-src="{{skill.spriteUrl}}" onError="this.onerror=null;this.src='IMG/skl_blank.png';">
		</div>

		<!--Weapon Description Boxes-->
		<div ng-repeat="weapon in char.inventory">
			<div class="infoElement green whiteText itemInfoPos" ng-if="weaponHoverOn(cIndex, $index) && validWeapon(weapon.name)" ng-style="{top: fetchEWpnDescVerticalPos($index)}">
				<div class="popOutText itemNamePos boldText">{{formatWeaponName(weapon.name)}}</div>
				<div class="popOutText itemRankPos">
					<span ng-if="hasWeaponRank(weapon.rank)">{{weapon.rank}} -</span>
					{{weapon.class}}
				</div>
				<div class="customDivider" style="top:22px"></div>
				<div ng-if="notItem(weapon.class)">
					<div class="popOutText itemMightPos">Might: {{weapon.might}}</div>
					<div class="popOutText itemMightPos" style="left:80px">Hit: {{weapon.hit}}</div>
					<div class="popOutText itemMightPos" style="right:0px">Crit: {{weapon.crit}}</div>
					<div class="popOutText itemWeightPos">Avo: {{weapon.avo}}</div>
					<div class="popOutText itemWeightPos" style="left:80px">Dodge: {{weapon.dodge}}</div>
					<div class="popOutText itemWeightPos" style="right:0px">Range: {{weapon.range}}</div>
					<div class="customDivider" style="top:58px"></div>
				</div>
				<div class="popOutText" ng-class="{'scroll-up' : textTooLong(weapon.effect, weapon.desc)}" ng-style="{top: setDescriptionLoc(weapon.class), height: setItemDescHeight(weapon.class)}">
					<p>
						<span class="italicText">{{weapon.effect}}</span>
						<span ng-if="weapon.effect.length > 0"><br /></span>
						<span>{{weapon.desc}}</span>
					</p>
				</div>
			</div>
		</div>
		<!--Skill Info Boxes-->
		<div ng-repeat="skill in char.skills">
			<div ng-if="skillHoverOn(cIndex, $index) && validSkill(skill.name)" class="infoElement green whiteText skillGemInfoPos" ng-style="{left: fetchESklDescHorzPos($index)}">
				<div class="boldText popOutText popOutHeader">{{skill.name}}</div>
			<div class="popOutText popOutBody">{{skill.desc}}</div>
			</div>
		</div>
	</div>
</div>