<div id="dropArea" class="mapBox">
	<img id="map" class="absolutePos" src="{{mapUrl}}">
	
	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox" ng-repeat="(indexX,column) in columns" title="{{row}}{{column}}" ng-style="{left: determineGlowX(indexX)}"></div>
	</div>
	
	<!--Draw characters-->
	<div ng-repeat="(cIndex,char) in charaData">
		<div id="{{cIndex}}" ng-if="validPosition(char.position)" ng-click="displayData(cIndex)" class="absolutePos charDiv hoverImage" title="{{char.position}}" ng-style="{top: determineCharY(char.position), left: determineCharX(char.position)}">
			<!--Paired unit sprite-->
			<div ng-if="isPaired(char.pairUpPartner)" class="charDiv mapCharOffsetLeft">
				<img ng-src="{{getPairUnitIcon(char.pairUpPartner)}}" class="mapCharCentered dimImage">
			</div>
			<!--Unit sprite-->
			<div class="charDiv" ng-class="isPaired(char.pairUpPartner) ? 'mapCharOffsetRight' : 'mapCharOffsetNone'">
				<img ng-src="{{char.spriteUrl}}" class="mapCharCentered">
			</div>
			<div class="healthBarBack"></div>
			<div class="healthBarFront" ng-style="{width:((char.currHp/char.maxHp)*28)+'px'}"></div>
			<div class="healthBarBorder"></div>
			<div ng-if="isPaired(char.pairUpPartner)" class="pairUpIcon"><img src="IMG/shield_pairup.png"></div>
		</div>
	</div>
	
	<!--Character Info Box-->
	<div id="{{cIndex}}_box" ng-repeat="(cIndex,char) in charaData" class="enemyInfo" draggable="true" ng-show="checkCharToggle(cIndex)">
		<!--Buttons-->
		<div class="absolutePos olive enemyBar">
			<!--Close button-->
			<div class="enemyBarButton hoverImage" title="Close" ng-click="removeData(cIndex)" style="right:2px">
				<img src="IMG/close.png">
			</div>
			<!--Pair-Up button-->
			<div class="enemyBarButton hoverImage" ng-if="isPaired(char.pairUpPartner)" ng-click="findPairUpChar(cIndex)" title="Switch to Paired Unit" style="right:20px">
				<img src="IMG/switchpairup.png">
			</div>
		</div>
		<!--Name-->
		<div class="infoElement navy whiteText enemyNamePos" style="text-align: center">
			{{char.name}}
		</div>
		<!--Class-->
		<div class="infoElement paleTan redText enemyClassPos">
			<span style="float: left;">{{char.class}}</span>
			<span style="float: right;">Lvl. {{char.level}}</span>
		</div>
		<!--Current EXP-->
		<div class="infoElement paleTan redText movExpPos" style="top:74px;">
			<span class="indentedExpMovLabel">EXP</span>
			<span class="indentedExpMovText">{{char.exp}}</span>
		</div>
		<!--Movement-->
		<div class="infoElement paleTan redText movExpPos" style="top:97px;">
			<span class="indentedExpMovLabel"><img src="IMG/movement.png" style="display:inline-block"></span>
			<span class="indentedExpMovText">{{char.mov}}</span>
		</div>
		<!--HP-->
		<div class="infoElement darkTan tanText enemyHpPos">
			<span class="HPText">HP</span>
			<span class="currHPText">{{char.currHp}}</span>
			<span class="totalHPText"> / {{char.maxHp}}</span>
		</div>
		<!--Attack-->
		<div class="infoElement darkTan tanText atkHitPos" style="top:123px">
			<span class="indentedStatLabel">Atk</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.atk)">{{char.atk}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.atk)">-</span>
		</div>
		<!--Critical-->
		<div class="infoElement darkTan tanText critAvoPos" style="top:123px">
			<span class="indentedStatLabel">Crit</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.crit)">{{char.crit}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.crit)">-</span>
		</div>
		<!--Hit-->
		<div class="infoElement darkTan tanText atkHitPos" style="top:148px">
			<span class="indentedStatLabel">Hit</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.hit)">{{char.hit}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.hit)">-</span>
		</div>
		<!--Avoid-->
		<div class="infoElement darkTan tanText critAvoPos" style="top:148px">
			<span class="indentedStatLabel">Avo</span>
			<span class="largeIndentedStat" ng-if="checkRate(char.avo)">{{char.avo}}</span>
			<span class="largeIndentedStat" ng-if="!checkRate(char.avo)">-</span>
		</div>

		<!--Inventory-->
		<div ng-repeat="weapon in char.inventory" ng-mouseenter="weaponHoverIn(cIndex, $index)" ng-mouseleave="weaponHoverOut(cIndex, $index)" class="infoElement redText hoverTan itemsPos" ng-class="$index == 0 ? 'lightTan' : 'paleTan'" ng-style="{top: fetchEWeaponVerticalPos($index)}">
			<span class="indentedWeaponIcon" ng-if="validWeapon(weapon.name)"><img ng-src="{{weapon.spriteUrl}}" style="height:16px; width:16px;"/></span>
			<span class="indentedWeaponName" ng-if="validWeapon(weapon.name)">{{weapon.name}}</span>
			<div class="weaponEffectIcons">
				<img ng-if="weaponEffective(weapon.effective,'armor')" src="IMG/eff_armor.png">
				<img ng-if="weaponEffective(weapon.effective,'flying')" src="IMG/eff_flying.png">
				<img ng-if="weaponEffective(weapon.effective,'beast')" src="IMG/eff_beast.png">
				<img ng-if="weaponEffective(weapon.effective,'dragon')" src="IMG/eff_dragon.png">
				<img ng-if="weaponEffective(weapon.effective,'monster')" src="IMG/eff_monster.png">
			</div>
		</div>
	</div>
</div>